
*.xcscheme

*.xcuserstate

BidRuffApp.xcodeproj/xcuserdata/Yaron.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/Yaron.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/Amy_Ly.xcuserdatad/xcschemes/xcschememanagement.plist

BidRuffApp.xcodeproj/xcuserdata/Amy_Ly.xcuserdatad/

BidRuffApp/Keys.plist

